<div class="page-header">
    <h1>{{projectname}}</h1>
    <small>
        Project has <b>{{total_authors}}</b> authors, <b>{{total_commits}}</b> commits in <b>{{total_files}}</b> files. 
    </small>
    <small>Total lines of code is <b>{{total_lines}}</b> where <b>{{total_lines_added}}</b> lines were added and <b>{{total_lines_removed}}</b> lines where removed</small>
</div>
